<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <th:block th:fragment="table">

        <table class="table table-dark">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Category</th>
                    <th>State</th>
                    <th>Creation Date</th>
                    <th>Assigned Operator</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="ticket : ${tickets}" th:object="${ticket}">
                    <td><a class="text-decoration-none text-white fw-bold" th:href="@{|/ticket/*{id}|}">[[*{title}]]</a></td>
                    <td>[[*{category.name}]]</td>
                    <td>[[*{state.name}]]</td>
                    <td>[[*{creationDate}]]</td>
                    <td>[[*{operator.username}]]</td>
                    <td>
                        <a type="button" class="btn btn-primary" th:href="@{|/ticket/*{id}/edit|}">Edit</a>
                        <th:block th:replace="~{fragments/delete-modal :: delete-btn(${ticket})}"></th:block>
                    </td>
                </tr>
            </tbody>
        </table>

    </th:block>

</body>
</html>